.container {
  /* Ví dụ về kiểu container */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  position: relative;
  background-color: #004080;
  height: 150px;
}

.avatar {
  position: absolute;
  bottom: -30px;
  left: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 72px;
  height: 72px;
  overflow: hidden;
}

.profileData {
  padding: 20px;
}

.editButton {
  float: right;
  background-color: transparent;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
}

.locationIcon,
.cakeIcon {
  margin-right: 5px;
  color: #657786;
}

.followage {
  display: flex;
  margin-top: 10px;
}

.followage span {
  margin-right: 20px;
}

.followage strong {
  color: #1da1f2;
}
